<form id="add-food">
    <div class="form-group">
        <label>Хоолны нэр</label>
        <input id="food-name" type="text" name="food[name]">
    </div>
    <div class="form-group">
        <label>Хоолны нэр</label>
        <input id="food-name" type="text" name="food[name]">
    </div>
    <div class="form-group">
        <label>Хоолны нэр</label>
        <input id="food-name" type="text" name="food[name]">
    </div>
    <div class="form-group">
        <label>Хоолны нэр</label>
        <input id="food-name" type="text" name="food[name]">
    </div>
    <div class="form-group">
        <label>Хоолны нэр</label>
        <input id="food-name" type="text" name="food[name]">
    </div>
</form>