{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}Dairy Nutrition{% endblock %}</title>
	<meta charset="UTF-8">
	<link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/style.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/font-awesome.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/jquery-ui.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/jquery-ui.structure.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/jquery-ui.theme.min.css' %}">
	{% block stylesheets %}{% endblock %}
</head>
<body>
	<video poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg" id="bgvid" playsinline autoplay muted loop>
		<source src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4">
	</video>
	<div id="main">
		<div class="container">
			<nav>
				<a href="{% url 'home' %}">Home</a>
				<a class="nav-right-btn" href="{% url 'login' %}">Login</a>
				<a class="nav-right-btn" href="{% url 'register' %}">Register</a>
			</nav>
			<div class="content">
				{% block body %}{% endblock %}
			</div>
			<div class="footer">
				Copyright &copy; 2016.
			</div>
		</div>
	</div>
	<script src="{% static 'recommendation/js/jquery-3.1.1.min.js' %}"></script>
	<script src="{% static 'recommendation/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'recommendation/js/jquery-ui.min.js' %}"></script>
	<script src="{% static 'recommendation/js/script.js' %}"></script>
	{% block javascripts %}{% endblock %}
</body>
</html>