{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Dairy Nutrition{% endblock %}</title>
    <meta charset="utf-8">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'recommendation/bower_components/bootstrap/dist/css/bootstrap.min.css' %}">
    <!-- Ionicons -->
    <link rel="stylesheet" type="text/css" href="{% static 'recommendation/bower_components/Ionicons/css/ionicons.min.css' %}">
    <!-- Custom style -->
    <link rel="stylesheet" type="text/css" href="{% static 'recommendation/css/style.css' %}">
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <div id="main">
        <div class="side-left">
            <div class="profile-info">
                <div class="cover">
                    <img class="profile-cover" src="{{ user.avatar.url }}" />
                    <div class="gradient"></div>
                </div>
                <div class="info">
                    <span class="full-name">{{ user.first_name }}</span>
                    <p class="profile-weight">
                        Жин:
                        <span class="weight-value">
                            {{ user.weight }} кг
                        </span>
                    </p>
                    <p class="profile-height">
                        Өндөр:
                        <span class="height-value">
                            {{ user.height }} м
                        </span>
                    </p>
                </div>
                <img class="profile-img" src="{% static 'recommendation/images/profile.jpg' %}"/>
            </div>
            <div class="side-menu">
                <ul class="main-menu">
                    <li class="main-menu-item">
                        <a href="{% url 'profile_detail' user.username %}">
                            <i class="icon ion-ios-contact-outline"></i>
                            Миний хэсэг
                        </a>
                    </li>
                    <li class="main-menu-item">
                        <a href="{% url 'feed' %}">
                            <i class="icon ion-ios-paper"></i>
                            Шинээр нэмэгдсэн
                        </a>
                    </li>
                    <li class="main-menu-item">
                        <a href="{% url 'favourite_food_list' %}">
                            <i class="icon ion-android-favorite"></i>
                            Дуртай хоол
                        </a>
                    </li>
                </ul>
            </div>
            <div class="footer">
                <p class="copyright">
                    Dairy Nutrition хэрэглүүр. {% now 'Y' %} он.
                </p>
            </div>
        </div>
        <div class="main-content">
            {% block body %}{% endblock %}
        </div>
        <div class="side-right">
            <ul class="user-menu">
                <li class="user-menu-item active">
                    <a href="{% url 'dashboard' %}">
                        <i class="icon ion-ios-home right-side-icon"></i>
                        Нүүр
                    </a>
                </li>
                <li class="user-menu-item">
                    <a href="{% url 'add_activity' %}">
                        <i class="icon ion-ios-body right-side-icon"></i>
                        Хэрэглээ
                    </a>
                </li>
                <li class="user-menu-item">
                    <a href="{% url 'get_statistic' %}">
                        <i class="icon ion-arrow-graph-up-right right-side-icon"></i>
                        Үзүүлэлт
                    </a>
                </li>
                <li class="user-menu-item">
                    <a href="{% url 'add_food' %}">
                        <i class="icon ion-clipboard right-side-icon"></i>
                        Жор нэмэх
                    </a>
                </li>
                <li class="user-menu-item">
                    <a href="#">
                        <i class="icon ion-ios-cog right-side-icon"></i>
                        Тохиргоо
                    </a>
                </li>
                <li class="user-menu-item">
                    <a href="{% url 'logout' %}">
                        <i class="icon ion-log-out right-side-icon"></i>
                        Гарах
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- JQuery -->
    <script src="{% static 'recommendation/bower_components/jquery/dist/jquery.min.js' %}"></script>
    <!-- Bootstrap -->
    <script src="{% static 'recommendation/bower_components/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <!-- Custom script -->
    <script src="{% static 'recommendation/js/script.js' %}"></script>
    {% block javascripts %}{% endblock %}
</body>
</html>