{% extends 'recommendation/base.html' %}
{% load staticfiles %}
{% block tilte %}Food Recommendation{% endblock %}
{% block stylesheets %}
<style type="text/css"></style>
{% endblock %}
{% block body %}
	<div class="food-container">
		<!-- <div class="counter">
			{{ foods|length }}
		</div> -->
		{% for food in foods %}
		<div class="food-item">
			<div class="food-card" data-id="{{ food.id }}">
				{% if food.image %}
					<img src="">
				{% else %}
					<img src="{% static 'recommendation/images/no-image-found.jpg' %}">
				{% endif %}
				<p class="food-name">{{ food.name }}</p>
			</div>
			<div class="card-buttons">
				<span class="btn btn-dislike"><i class="fa fa-thumbs-down" aria-hidden="true"></i></span>
				<span class="btn btn-like"><i class="fa fa-thumbs-up" aria-hidden="true"></i></span>
				<input id="hidden-status" type="hidden" name="status" value=""/>
			</div>
		</div>
		{% endfor %}
	</div>
	<script type="text/javascript">
		$(function() {
			$(".btn-like").on("click", function() {
				$(this).parent().parent().fadeOut();
				$("#hidden-status").val(1);
				feedback();
			});
			$(".btn-dislike").on("click", function() {
				$(this).parent().parent().fadeOut();
				$("#hidden-status").val(2);
				feedback();
			});
			function feedback() {
			    $.ajax({
			        url : "/dashboard/",
			        type : "POST",
			        data : { status : $('#hidden-status').val(), food_id : $('.food-card').data('id') },
			        success : function(json) {
			            $('#hidden-status').val('');
			            console.log(json);
			            console.log("success");
			        }
			    });
			};
		});
	</script>
{% endblock %}
{% block javascripts %}
{% endblock %}