{% extends 'recommendation/base.html' %}
{% load staticfiles %}
{% block body %}
	<img src="{% static 'recommendation/images/mockup.png' %}" style="width:580px;">
    <div class="landing-content">
        <h1>Dairy Nutrition</h1>
        <p>Өдрийн хүнсний илчлэг тооцогч хэрэглүүрийг хөгжүүлэн нэвтрүүлэх нь хү-
мүүсийн зөв хооллолт болон өөрсдийн жинг удирдахад туслах чухал ач холбогдолтой.
Аливаа хэрэглүүрийн гол ач холбогдол нь хэрэглэгчийн хийж байгаа үйл ажиллагааг
хялбарчлах, автоматжуулахыг зорьдог. Энэхүү хэрэглүүр нь гараар бодож байсан тоо-
цоог илүү хөнгөвчилж зөв тооцоолол хийгээд зогсохгүй хэрэглэгчийн онцлогт таарсан
хооллолтыг санал болгож өөрийн хооллолтын түүхийг харах боломжтой.</p>
    </div>

{% endblock %}