{% extends 'recommendation/base.html' %}
{% load staticfiles %}
{% block tilte %}{{ user_info.first_name }}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
<div class="profile-container">
    <div class="header">
        <img class="cover" src="{% static 'recommendation/images/cover.jpg' %}" />
        <div class="profile-info">
            <img class="profile-img" src="{{ user_info.avatar.url }}" />
            <div class="details">
                <div class="row">
                    <div class="col-md-4">
                        <span class="username">@{{ user_info.username }}</span>
                        <span class="fullname user-info">{{ user_info.last_name }} {{ user_info.first_name }}</span>
                    </div>
                    <div class="col-md-4">
                        Нас: <span class="age user-info">{{ user_info.age }}</span>
                        Хүйс: <span class="gender user-info">{{ user_info.gender }}</span>
                    </div>
                    <div class="col-md-4">
                        Жин: <span class="weight user-info">{{ user_info.weight }}</span>
                        Өндөр: <span class="height user-info">{{ user_info.height }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
    <div class="user-menu">
        
    </div>
    <div class="profile-content">
        <div class="row">
            <div class="col-md-9">
                
            </div>
            <div class="col-md-3">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}{% endblock %}