{% extends 'recommendation/base.html' %}
{% load staticfiles %}
{% block tilte %}{{ user_info.first_name }}{% endblock %}
{% block stylesheets %}{% endblock %}
{% block body %}
<div class="profile-container">
    <div class="header">
        <img class="cover" src="{% static 'recommendation/images/cover.jpg' %}" />
        <div class="profile-info">
            <img class="profile-img" src="{{ user_info.avatar.url }}" />
            <a class="btn btn-edit-profile">
                <i class="icon ion-edit"></i>
                Засварлах
            </a>
            <div class="details">
                <div class="row">
                    <div class="col-md-3">
                        <span class="username">@{{ user_info.username }}</span>
                        <div class="user-info-item">
                            <span class="fullname user-info">{{ user_info.last_name }} {{ user_info.first_name }}</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="user-info-item">
                            Нас: <span class="age user-info">{{ user_info.age }}</span>
                        </div>
                        <div class="user-info-item">
                            Хүйс: <span class="gender user-info">{% if user_info.gender == 1 %}Эр{% else %}Эм{% endif %}</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="user-info-item">
                            Жин: <span class="weight user-info">{{ user_info.weight }} кг</span>
                        </div>
                        <div class="user-info-item">
                            Өндөр: <span class="height user-info">{{ user_info.height }} см</span>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="user-info-item">
                            БЖИ: <span class="bmi user-info">{{ user_info.bmi }}</span>
                        </div>
                        <div class="user-info-item">
                            ҮБСТ: <span class="bmr user-info">{{ user_info.bmr }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overlay"></div>
    </div>
    <!-- <div class="user-menu">
        
    </div> -->
    <div class="profile-content">
        <div class="row">
            <div class="col-md-8">
                {% if foods|length > 0 %}
                    {% for food in foods %}
                    <div class="profile-item">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="item-img">
                                    <img src="{{ food.image.url }}">
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="item-top">
                                    <span class="published-date">{{ food.added_date|timesince }}-н өмнө</span>
                                    <span class="group-name">{{ food.group.name }}</span>
                                    <a href="{% url 'food_detail' food.id %}">
                                        <h3 class="title">{{ food.name }}</h3>
                                    </a>
                                </div>
                                <div class="item-middle">
                                    <p>{{ food.description | truncatewords:30 }}</p>
                                </div>
                                <div class="item-bottom">
                                    <a class="item-action">
                                        <span class="item-love-count">
                                            <i class="icon ion-eye"></i>
                                            {{ food.views }}
                                        </span>
                                    </a>
                                    <a class="item-action" href="#">
                                        <span class="item-comment-count">
                                            <i class="icon ion-ios-chatbubble"></i>
                                            Сэтгэгдэл
                                        </span>
                                    </a>
                                    <a class="item-action" href="#">
                                        <span class="item-edit">
                                            <i class="icon ion-edit"></i>
                                            Засах
                                        </span>
                                    </a>
                                    <a class="item-action" href="{% url 'food_delete' food.id %}">
                                        <span class="item-delete">
                                            <i class="icon ion-trash-a"></i>
                                            Устгах
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                {% else %}
                <div class="profile-item">
                    <div class="row">
                        <div class="col-md-12">
                            Уг хэрэглэгч системд хоол оруулагүй байна.
                        </div>
                    </div>
                </div>
                {% endif %}
            </div>
            <div class="col-md-4">
                
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}{% endblock %}