@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700");
body, html {
  font-family: "Roboto Condensed", sans-serif;
  background-color: #f2f2f2; }

a {
  text-decoration: none;
  outline: none;
  color: #fff; }

.side-left {
  width: 260px;
  height: 100%;
  left: 0;
  position: fixed;
  display: block;
  background-color: #222222; }

.active, .active:hover {
  background-color: #8C73A5 !important;
  border-left: 5px solid #9881AE !important; }

.gradient {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.8) 100%); }

.col-60 {
  width: 60%;
  float: left;
  display: block; }

.col-40 {
  width: 40%;
  float: left;
  display: block; }

.col-15 {
  width: 15%;
  float: left;
  display: block; }

.btn-custom {
  background-color: #8C73A5;
  color: #f5f5f5;
  transition: .5s; }

.btn-custom:hover {
  background-color: #9881AE;
  color: #f5f5f5; }

.block {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  overflow: hidden; }
  .block .block-header {
    background-color: #8C73A5;
    color: #f5f5f5;
    padding: 10px 30px;
    font-size: 16px; }
  .block .block-main {
    padding: 20px 30px;
    background: #fff; }

.align-right {
  text-align: right; }

.side-left .profile-info {
  position: relative; }
.side-left .profile-info .cover {
  position: relative; }
.side-left .profile-info .profile-cover {
  width: 100%;
  height: 100px; }
.side-left .profile-info .profile-img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
  position: absolute;
  top: 61px;
  left: 50%;
  margin-left: -40px; }
.side-left .profile-info .info {
  color: #ecf0f1;
  text-align: center;
  padding: 50px 20px 10px; }
.side-left .profile-info .full-name {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px; }
.side-left .profile-info .info p {
  display: inline-block;
  margin: 0px 10px; }
.side-left .side-menu {
  position: relative;
  display: block; }
.side-left .main-menu {
  padding: 0;
  list-style: none;
  background-color: #393939; }
.side-left .main-menu-item {
  height: 50px;
  line-height: 50px; }
.side-left .main-menu-item a {
  color: #ecf0f1;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding-left: 20px;
  transition: .8s; }
.side-left .main-menu-item a:hover {
  text-decoration: none;
  color: #aaa; }
.side-left .main-menu-item .icon {
  font-size: 18px; }
.side-left .footer {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 50px;
  line-height: 50px; }
.side-left .copyright {
  color: #ecf0f1;
  display: block;
  text-align: center;
  margin: 0; }

.side-right {
  width: 80px;
  height: 100%;
  right: 0;
  color: #ecf0f1;
  position: fixed;
  float: right;
  display: block;
  background-color: #222222; }

.side-right .logo img {
  width: 100%; }
.side-right .user-menu {
  padding: 0;
  list-style: none;
  margin: 0; }
.side-right .user-menu-item {
  border-left: 5px solid #393939;
  transition: .5s; }
.side-right .user-menu-item:hover {
  background-color: #393939; }
.side-right .user-menu-item a {
  padding: 10px 0;
  color: #ecf0f1;
  display: block;
  text-align: center;
  text-decoration: none;
  transition: .8s;
  border-bottom: 1px solid rgba(255, 255, 255, 0.05); }
.side-right .user-menu-item a:hover {
  text-decoration: none; }
.side-right .user-menu-item a + .tooltip.right {
  padding: 0; }
.side-right .right-side-icon {
  display: block;
  font-size: 24px; }

.main-content {
  width: calc(100% - 340px);
  display: block;
  position: absolute;
  top: 0px;
  left: 260px; }

.main-content .profile-container {
  width: 100%;
  position: relative; }
  .main-content .profile-container .btn-edit-profile {
    position: absolute;
    top: -50px;
    left: 190px;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid #ffffff;
    transition: 0.5s; }
  .main-content .profile-container .btn-edit-profile:hover {
    color: #ffffff;
    background-color: #8C73A5; }
  .main-content .profile-container .header {
    position: relative;
    height: 250px;
    width: 100%; }
    .main-content .profile-container .header .cover {
      height: 100%;
      width: 100%; }
    .main-content .profile-container .header .profile-info {
      position: absolute;
      width: 100%;
      height: 100px;
      bottom: 0;
      left: 0;
      z-index: 3;
      background-color: rgba(0, 0, 0, 0.8); }
      .main-content .profile-container .header .profile-info .profile-img {
        position: absolute;
        bottom: 35px;
        left: 35px;
        width: 140px;
        height: 140px;
        border: 4px solid #f5f5f5;
        border-radius: 3px; }
      .main-content .profile-container .header .profile-info .details {
        margin-left: 200px;
        margin-top: 10px; }
        .main-content .profile-container .header .profile-info .details .username {
          font-size: 18px;
          font-weight: bold;
          color: #f5f5f5; }
        .main-content .profile-container .header .profile-info .details .user-info-item {
          color: #fff;
          font-weight: bold;
          font-size: 16px; }
        .main-content .profile-container .header .profile-info .details .user-info {
          display: inline-block;
          color: #fff;
          font-size: 16px;
          margin: 5px 0;
          font-weight: normal; }
    .main-content .profile-container .header .overlay {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background-image: url("../images/pattern.png");
      background-position: top left;
      background-repeat: repeat;
      z-index: 2; }
  .main-content .profile-container .profile-item {
    margin: 20px 10px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 6px; }
    .main-content .profile-container .profile-item a {
      color: #393939; }
    .main-content .profile-container .profile-item .item-img img {
      width: 100%;
      height: 100%; }
    .main-content .profile-container .profile-item .item-top .group-name {
      float: right; }
    .main-content .profile-container .profile-item .item-bottom .item-action {
      background: #8C73A5;
      margin: 5px;
      border-radius: 20px;
      padding: 3px 8px;
      font-size: 12px;
      transition: .3s;
      text-decoration: none; }
      .main-content .profile-container .profile-item .item-bottom .item-action span {
        color: #ffffff; }
    .main-content .profile-container .profile-item .item-bottom .item-action:hover {
      text-decoration: none;
      opacity: 0.8; }
  .main-content .profile-container .user-menu {
    background-color: #222222;
    height: 80px; }
.main-content .container {
  width: 100%;
  position: relative;
  overflow-x: auto; }
.main-content .dashboard-container .header {
  overflow: hidden;
  padding: 20px 0;
  text-align: center;
  background: #fff; }
.main-content .activity-container {
  padding: 20px; }
.main-content .feed-item {
  width: 450px;
  margin: 20px;
  float: left; }
  .main-content .feed-item .item-thumb {
    position: relative;
    width: 100%; }
    .main-content .feed-item .item-thumb .item-img {
      width: 100%;
      border-radius: 6px 6px 0 0; }
    .main-content .feed-item .item-thumb .author-img {
      width: 60px;
      height: 60px;
      display: block;
      border-radius: 50%;
      position: absolute;
      left: 50%;
      bottom: -30px;
      margin-left: -30px;
      background-color: #fff;
      text-align: center;
      line-height: 59px; }
      .main-content .feed-item .item-thumb .author-img .author-profile-img {
        width: 50px;
        border-radius: 50%;
        height: 50px;
        transition: .3s; }
      .main-content .feed-item .item-thumb .author-img .author-profile-img:hover {
        opacity: 0.85; }
    .main-content .feed-item .item-thumb .item-category {
      position: absolute;
      top: 30px;
      left: 0;
      background: #8C73A5;
      padding: 10px 20px;
      color: #f5f5f5;
      transition: .3s; }
    .main-content .feed-item .item-thumb .item-category:hover {
      opacity: 0.85; }
    .main-content .feed-item .item-thumb .item-date {
      position: absolute;
      top: 30px;
      right: 10px;
      border-radius: 6px;
      background: #f5f5f5;
      padding: 5px 10px;
      color: #000; }
    .main-content .feed-item .item-thumb .item-tags {
      position: absolute;
      top: 80px;
      width: 100%;
      text-align: center;
      padding: 10px 30px; }
      .main-content .feed-item .item-thumb .item-tags a {
        text-decoration: none;
        outline: none; }
      .main-content .feed-item .item-thumb .item-tags a:hover {
        text-decoration: none; }
      .main-content .feed-item .item-thumb .item-tags .item-tag {
        border-radius: 6px;
        background: #8C73A5;
        padding: 5px 10px;
        color: #f5f5f5;
        transition: .3s; }
      .main-content .feed-item .item-thumb .item-tags .item-tag:hover {
        opacity: 0.85; }
    .main-content .feed-item .item-thumb .item-title {
      position: absolute;
      top: 50%;
      width: 100%;
      color: #f5f5f5;
      font-size: 20px;
      font-weight: bold;
      padding: 10px 30px;
      text-align: center;
      display: block;
      transition: .3s; }
    .main-content .feed-item .item-thumb .item-title:hover {
      text-decoration: underline;
      color: #fff; }
    .main-content .feed-item .item-thumb .item-actions {
      display: inline-block;
      position: absolute;
      bottom: 5px;
      left: 10px;
      color: #fff;
      font-size: 18px; }
      .main-content .feed-item .item-thumb .item-actions i.ion-ios-heart-outline {
        color: #fff;
        font-weight: bold !important;
        font-size: 18px; }
  .main-content .feed-item .item-brief-content {
    width: 100%;
    padding: 40px 10px 10px;
    background-color: #fff;
    text-align: center; }
  .main-content .feed-item .item-meta {
    padding: 5px;
    background: #8C73A5;
    color: #f5f5f5;
    border-radius: 0 0 6px 6px;
    display: block;
    overflow: hidden; }
    .main-content .feed-item .item-meta .meta-link {
      color: #ecf0f1;
      outline: none;
      transition: .5s;
      padding: 5px 10px;
      border-radius: 3px;
      display: inline-block;
      text-decoration: none; }
    .main-content .feed-item .item-meta .meta-link:hover {
      text-decoration: none;
      background: #705C84; }
    .main-content .feed-item .item-meta .item-views {
      padding: 5px 10px;
      display: inline-block; }
    .main-content .feed-item .item-meta .socials {
      display: none; }

/*# sourceMappingURL=style.css.map */
