{% extends 'recommendation/base.html' %}
{% block stylesheets %}{% endblock %}
{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-login">
                        <form id="msform" method="POST" action="{% url 'django.contrib.auth.views.login' %}">
                            {% csrf_token %}
                            <!-- fieldsets -->
                            <fieldset>
                                <h2 class="fs-title">Нэвтрэх</h2>
                                <h3 class="fs-subtitle"></h3>
                                <input id="{{ form.username.id_for_label }}" class="form-control username-field" type="text" name="{{ form.username.html_name }}" placeholder="Enter your username here" {% if form.username.value %} value="{{ form.username.value }}"{% else %}{% endif %}/>
                                <input id="{{ form.password.id_for_label }}" class="form-control password-field" type="password" name="{{ form.password.html_name }}" placeholder="Enter your password here" {% if form.password.value %} value="{{ form.password.value }}"{% else %}{% endif %}/>
                                <input type="submit" name="submit" class="submit action-button" value="Нэвтрэх"/><br>
                                <a class="register-link" href="{% url 'register' %}">Not member? Register here.</a>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}