{% extends 'recommendation/base.html' %}
{% block stylesheets %}{% endblock %}
{% block body %}
	<div class="row">
		<div class="col-md-12">
			<div class="form-registration">
				<form id="msform" method="POST" action="{% url 'register' %}">
			      	{% csrf_token %}
					<!-- progressbar -->
					<ul id="progressbar">
						<li class="active">Account Setup</li>
						<li>Social Profiles</li>
						<li>Personal Details</li>
						<li>Activity Level</li>
					</ul>
					<!-- fieldsets -->
					<fieldset>
						<h2 class="fs-title">Create your account</h2>
						<h3 class="fs-subtitle">This is step 1</h3>
		      			<input id="{{ form.username.id_for_label }}" class="form-control username-field" type="text" name="{{ form.username.html_name }}" value="{% if form.username.value %}{{ form.username.value }}{% else %}{% endif %}" placeholder="Username here..." /> {{ form.username.errors }}
		      			<input id="{{ form.email.id_for_label }}" class="form-control username-field" type="email" name="{{ form.email.html_name }}" value="{% if form.email.value %}{{ form.email.value }}{% else %}{% endif %}" placeholder="Email address here..." /> {{ form.email.errors }}
		      			<input id="{{ form.password.id_for_label }}" class="form-control" type="password" name="{{ form.password.html_name }}" value="{% if form.password.value %}{{ form.password.value }}{% else %}{% endif %}" placeholder="Password here..." /> {{ form.password.errors }}
		      			<input id="{{ form.password_repeat.id_for_label }}" class="form-control" type="password" name="{{ form.password_repeat.html_name }}" value="{% if form.password_repeat.value %}{{ form.password_repeat.value }}{% else %}{% endif %}" placeholder="Repeat your password here..." /> {{ form.password_repeat.errors }}
						<input type="button" name="next" class="next action-button" value="Дараах" />
					</fieldset>
					<fieldset>
						<h2 class="fs-title">Social Profiles</h2>
						<h3 class="fs-subtitle">Your presence on the social network</h3>
						<input id="{{ form.first_name.id_for_label }}" class="form-control" type="text" name="{{ form.first_name.html_name }}" value="{% if form.first_name.value %}{{ form.first_name.value }}{% else %}{% endif %}" placeholder="First name here..." /> {{ form.first_name.errors }}
		      			<input id="{{ form.last_name.id_for_label }}" class="form-control" type="text" name="{{ form.last_name.html_name }}" value="{% if form.last_name.value %}{{ form.last_name.value }}{% else %}{% endif %}" placeholder="Last name here..." /> {{ form.last_name.errors }}
		      			<input id="{{ form.birth_date.id_for_label }}" class="form-control" type="date" name="{{ form.birth_date.html_name }}" value="{% if form.birth_date.value %}{{ form.birth_date.value }}{% else %}{% endif %}" placeholder="Birth date here..." /> {{ form.birth_date.errors }}
		      			<select id="{{ form.gender.id_for_label }}" class="form-control" name="{{ form.gender.html_name }}">
		      				{% for key, val in form.gender.field.choices %}
			      				<option value="{{ key }}">{{ val }}</option>
			      			{% endfor %}
		      			</select> {{ form.gender.errors }}
						<input type="button" name="previous" class="previous action-button" value="Previous" />
						<input type="button" name="next" class="next action-button" value="Next" />
					</fieldset>
					<fieldset>
						<h2 class="fs-title">Personal Details</h2>
						<h3 class="fs-subtitle">We will never sell it</h3>
						<input id="{{ form.weight.id_for_label }}" class="form-control" type="number" name="{{ form.weight.html_name }}" value="{% if form.weight.value %}{{ form.weight.value }}{% else %}{% endif %}" placeholder="Weight here..."/> {{ form.weight.errors }}
		      			<input id="{{ form.height.id_for_label }}" class="form-control" type="number" name="{{ form.height.html_name }}" value="{% if form.height.value %}{{ form.height.value }}{% else %}{% endif %}" placeholder="Height here..."/> {{ form.height.errors }}
						{% for choice in form.favourite_food_group %}
		      				{{ choice }}<br/>
		      			{% endfor %} {{ form.favourite_food_group.errors }}
						<input type="button" name="previous" class="previous action-button" value="Previous" />
						<input type="button" name="next" class="next action-button" value="Дараах" />
					</fieldset>
					<fieldset>
						<h2 class="fs-title">Personal Details</h2>
						<h3 class="fs-subtitle">We will never sell it</h3>
		      			<input id="{{ form.activity_level.id_for_label }}" type="radio" name="{{ form.activity_level.html_name }}" value="1.2" checked> Маш бага эсвэл хийдэггүй<br>
					  	<input id="{{ form.activity_level.id_for_label }}" type="radio" name="{{ form.activity_level.html_name }}" value="1.375"> Бага (долоо хоногт 1–3 өдөр)<br>
					  	<input id="{{ form.activity_level.id_for_label }}" type="radio" name="{{ form.activity_level.html_name }}" value="1.55"> Дунд (долоо хоногт 3-5 өдөр)<br>
					  	<input id="{{ form.activity_level.id_for_label }}" type="radio" name="{{ form.activity_level.html_name }}" value="1.725"> Их (долоо хоногт 6-7 өдөр)<br>
					  	<input id="{{ form.activity_level.id_for_label }}" type="radio" name="{{ form.activity_level.html_name }}" value="1.9"> Маш их (өдөр бүр 2 удаа, хүнд дасгал) {{ form.activity_level.errors }}
						<input type="button" name="previous" class="previous action-button" value="Previous" />
						<input type="submit" name="submit" class="submit action-button" value="Submit"/>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
  	<script type="text/javascript">
	  	$(function() {
	  		$("#form-info .next-step").on("click", function() {
	  			$("#form-info").fadeOut(function() {
	  				$("#form-bio").fadeIn();
	  			});
	  		});
	  		$("#form-bio .next-step").on("click", function() {
	  			$("#form-bio").fadeOut(function() {
	  				$("#form-info").fadeOut(function() {
	  					$("#form-favourite-group").fadeIn();
	  					$(".btn-form-register").fadeIn();
	  				});
	  			});
	  		});
	  	});
  	</script>
{% endblock %}